body{
    background-color: rgb(80, 90, 134);
}
.login{
    overflow: hidden;
    background-color: rgba(15, 15, 158, 0.664);
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(11, 39, 131, 0.589);
}
.login::before, .login::after{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}
.login::before{
    left: 40%;
    bottom: -130%;
    background-color: rgba(21, 86, 155, 0.513);
    animation: wawes 6s infinite linear;
}
.login::after{
    left: 35%;
    bottom: -125%;
    background-color: rgba(97, 55, 214, 0.739);
    animation: wawes 7s infinite linear;
}
.login > input{
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    outline: none !important;
}
.login > button{
    cursor: pointer;
    color: rgb(23, 54, 155);
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: background-color 300ms ;
}
.login > button:hover{
    background-color: rgba(49, 10, 100, 0.863);
    color: white;
}
@keyframes wawes {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
a{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}